/* setting */
*{
  box-sizing: border-box;
  margin:0 auto;
  padding:0;
  color:#fff;
}

ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}

button{
  background: none;
  border:none;
}

iframe,embed{
  border: none;
}


.container{
  background: #2a2a2a;
  height: 100vh;
  position: relative;
}